.horarios{
    display: flex;
    width: 98%;
    padding: .5rem;
    flex-direction: row;
    align-items: center;
    text-align: center;
    text-decoration: blink;
    font-size: 24px;
    height: 450px;
    overflow: hidden;
}
.img-fluid{
    width: 100%;
}
@media(max-width:450px){
    .horarios{        
        margin: -10rem 0rem;
    }
}