.contPrinci{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

}
.idealPrinci{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}
.principiantes{
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    align-items: center;
}

.imgPrinci{
    width: 350px;
    height: 350px;
}
@media screen and (max-width:1024px) {
    .imgPrinci{
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 768px) {
    .imgPrinci{
        width: 180px!important;
        height: 180px!important;
    }
    .principiantes{
        width: 90%;
    }
    .contPrinci{
        margin: 5px auto;
        width: 90%;
        justify-content: space-around!important;
    }
    .idealPrinci{
        flex-direction: column;
    }
}
@media screen and (max-width: 550px) {
    .contPrinci{
        justify-content: space-around!important;
    }
    .idealPrinci{
        flex-direction: column;
    }
    .principiantes{
        width: 90%;
        justify-content: space-between;
        align-items: center;
    }
    .imgPrinci{
        width: 150px!important;
        height: 150px!important;
    }
}