.lista{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}

.container-productos {
    justify-items: center;
    width: 30%;
    border-radius: 5%;
    border-style: outset;
    margin: 3px 5px;
    padding: 2px;
}
.container-productos h2{
    text-align: center;
    font-size: 26px;
}
.container-info{
    display: flex;
    flex-direction: column;
    max-height: 350px;
    align-items: center;
    justify-content: center;
    
}

.imgProd{
    display: flex;
}
.boton {
    display: inline-block;
    margin-top: -30px;
    width: 90%;
    align-items: center;
    justify-content: start;
}
.animacion{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* .contDesc{
    min-width: 350px;
    margin-top: 5px;
    flex-shrink: 2;
    height: 400px;
    overflow-y: auto;
}
.contDesc::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contDesc::-webkit-scrollbar:vertical {
    width:10px;
}

.contDesc::-webkit-scrollbar-button:increment,.contDesc::-webkit-scrollbar-button {
    display: none;
} 

.contDesc::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contDesc::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.contDesc::-webkit-scrollbar-track {
    border-radius: 10px;  
} */
ul{
    list-style: decimal-leading-zero;
}
.divisor{
    background-color: chocolate;
    width: 99%;
    height: 5px;
    margin: 5px 5px;

}
@media screen and (max-width: 800px){ 
    .lista{
        display: grid;
        grid-template-columns: 200px 200px;
        justify-content: space-around;
        align-items: stretch;
        
    }
    .container-productos{
        width: 100%;

    }
}