.lista{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}
.Cargador{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 420px;
}
.container-productos {
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 550px;
    border-radius: 5%;
    border-style: outset;
    margin: 3px 5px;
    padding: 2px;
}
.container-productos h2{
    text-align: center;
    font-size: 26px;
}
.container-info{
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: center;
    justify-content: space-around;
    
}

.imgProd{
    display: flex;
    margin: auto;
    width: 300px;
    height: 300px;
}
.boton {
    display: inline-block;
    width: 95%;
    align-items: center;
    justify-content: center;
}
.animacion{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* .contDesc{
    min-width: 350px;
    margin-top: 5px;
    flex-shrink: 2;
    height: 400px;
    overflow-y: auto;
}
.contDesc::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contDesc::-webkit-scrollbar:vertical {
    width:10px;
}

.contDesc::-webkit-scrollbar-button:increment,.contDesc::-webkit-scrollbar-button {
    display: none;
} 

.contDesc::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contDesc::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.contDesc::-webkit-scrollbar-track {
    border-radius: 10px;  
} */
ul{
    list-style: decimal-leading-zero;
}
.divisor{
    background-color: chocolate;
    width: 99%;
    height: 5px;
    margin: 5px 5px;

}
.pagination{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.page-link{
    background-color: blue;
}
.precio{
    font-size: larger;
}
.card-footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0px!important;
}

@media screen and (max-width: 770px){ 
    .lista{
        display:flex;
        flex-direction: column-reverse 3;
    }
    .container-productos {
        width: 370px!important;
    }
    .imgProd{
        width: 250px;
        height: 250px;
    }
}
@media screen and (max-width: 1024px) {
    .lista{
        flex-direction: column 3;
    }
    .container-productos{
        height: 480px;
    }
    .imgProd{
        width: 200px!important;
        height: 200px;
    }
}