.lista{
    display:flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: baseline;

}
.container-productos {
    flex-direction: column;
    max-width: 30%;
    border-radius: 5%;
    border-style: outset;
    margin: 3px 5px;
    padding: 2px;
}
.container-productos h2{
    text-align: center;
    font-size: 26px;
}
.imgProd{
    min-width: 25%;
}


/* .contDesc{
    min-width: 350px;
    margin-top: 5px;
    flex-shrink: 2;
    height: 400px;
    overflow-y: auto;
}
.contDesc::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contDesc::-webkit-scrollbar:vertical {
    width:10px;
}

.contDesc::-webkit-scrollbar-button:increment,.contDesc::-webkit-scrollbar-button {
    display: none;
} 

.contDesc::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contDesc::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.contDesc::-webkit-scrollbar-track {
    border-radius: 10px;  
} */
ul{
    list-style: decimal-leading-zero;
}
.divisor{
    background-color: chocolate;
    width: 99%;
    height: 5px;
    margin: 5px 5px;

}