.barraNavegacion{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
    background-color: #dd9933;
    color: black;
}



@media screen and (max-width:560px) {
    .barraNavegacion{}
    
}