.servicios{
    width: 99%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.ventas{
    margin-top: 50px;
    width: 265px;
    height: 318.69px;
}

.separador{
    width: 100%;
    margin: 5px;
    height: 4px;
    background: linear-gradient(90deg, #e69417 0%, #E69419 100%);
    border-radius: 2px;
}
.g-4{
    min-width: 320px;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
    padding: 4px!important;
}
.bg-secondary{
    padding: 3px!important;
}
.bg-secondary:hover{
    transition: all 0.1s ease-out;
    margin: 0px 5px 0px 5px!important;
    padding: 3px;
    background-color: chocolate!important;
}
.servicios-videos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 80px auto;
}
.videos{
    margin: 5px;
}
.videos:hover{
    box-shadow: 10px 8px 10px black;
    transition: all 0.5s ease-out;
}
.Botton{
    margin-bottom: 5px;
}