.Contenedor-Usuario{
    display: flex;
    margin: 1rem auto;
    padding-top: 1rem;
    width: 90vw;
    height: 600px;
    background-color: green;
    justify-content: space-around;
}
.datos{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px black solid;
    text-align: justify;
}